<aside id="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li [class.active]="routeIsActive('/home')">
            <a [routerLink]="['/home']">
                <i class="fa fa-home"></i> <span>Accueil</span>
            </a>
        </li>
        <li [class.active]="routeIsActive('/user')">
            <a [routerLink]="['/user']">
                <i class="fa fa-users"></i> <span>Gestion des utilisateurs</span>
            </a>
        </li>
        <li [class.active]="routeIsActive('/panel')">
            <a [routerLink]="['/panel']">
                <i class="fa fa-calendar-o"></i> <span>Gestion des panneaux</span>
            </a>
        </li>
    </ul>
</aside>