<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Gestion des utilisateurs</h1>
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/home']">
                <i class="fa fa-home"></i> Accueil
            </a>
        </li>
        <li>
            <a [routerLink]="['/user']">
                <i class="fa fa-users"></i> Utilisateurs
            </a>
        </li>
    </ol>
</section>
<section>

    <!-- Filtrer toutes les colonnes -->
    <div class="row">
        <div class="col-md-12">
            <input placeholder="Rechercher parmi toutes les colonnes"
                    class="form-control"
                    [(ngModel)]="config.filtering.filterString"
                    (keyup.enter)="loadItems()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Table -->
            <ng-table [config]="config"
                        (tableChanged)="onChangeTable(config)"
                        (cellClicked)="onCellClick($event)"
                        [rows]="rows" [columns]="columns">
            </ng-table>
            <!-- Pagination -->
            <pagination *ngIf="!noResult"
                        class="pagination-sm"
                        [(ngModel)]="page"
                        [totalItems]="length"
                        [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="onChangeTable(config,$event)"
                        (numPages)="numPages = $event">
            </pagination>
            <pre *ngIf="!noResult" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>

            <div *ngIf="noResult">
                No result
            </div>

            <button (click)="exportCsv()">Export CSV</button>
            <button (click)="exportXlsx()">Export XLSX</button>
        </div>
    </div>

</section>
