@{
    ViewBag.Title = "Home Page";
}

@using Newtonsoft.Json

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<base href="/">
<odyssey-app>
    <div class="splash">
        <h1>Chargement...</h1>
    </div>
</odyssey-app>


<script type="text/javascript">
    @{
        JsonSerializerSettings jsonSettings =
             new JsonSerializerSettings {
                 PreserveReferencesHandling = PreserveReferencesHandling.None,
                 ReferenceLoopHandling = ReferenceLoopHandling.Ignore,
                 DateTimeZoneHandling = DateTimeZoneHandling.Local
             };
    }
    CurrentUser = @Html.Raw(JsonConvert.SerializeObject(ViewBag.utilisateur, Formatting.Indented, jsonSettings));
    IsRelease = @(ViewBag.IsRelease == true ? "true": "false");

</script>

<script type="text/javascript" src="~/libs/polyfills.bundle.js"></script>
<script type="text/javascript" src="~/libs/vendor.bundle.js"></script>
<script type="text/javascript" src="~/libs/app.bundle.js"></script>