<section class="content-header">
    <h1>{{titre}}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                Administration
            </a>
        </li>
        <li>
            <a href="#">
                {{titre}}
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <form (ngSubmit)="onSubmit()" #utilisateurForm="ngForm" autocomplete="off">
        <div class="form-group">
            <label for="Nom">Nom d'utilisateur</label>
            <input id="UserName"
                   name="UserName"
                   type="text"
                   class="form-control"
                   required
                   [(ngModel)]="user.UserName"
                   #userNameControl="ngModel"
                   autocomplete="off">
            <span [hidden]="userNameControl.valid" class="text-danger">Vous devez entrer un nom !</span>
        </div>
        <div class="form-group">
            <label for="Nom">Mot de passe</label>
            <input id="Password"
                   name="Password"
                   type="password"
                   placeholder="{{isNew ? 'Saisissez le mot de passe': 'Laissez vide pour ne pas modifier le mot de passe'}}"
                   [attr.required]="isNew ? isNew : undefined"
                   class="form-control"
                   [(ngModel)]="Password"
                   #userNameControl="ngModel"
                   autocomplete="new-password">
            <span [hidden]="Password.valid" class="text-danger">Vous devez saisir un mot de passe !</span>
        </div>
        <div class="form-group">
            <label for="Nom">Mail</label>
            <input id="Email"
                   name="Email"
                   type="email"
                   class="form-control"
                   required
                   [(ngModel)]="user.Email"
                   #emailControl="ngModel">
            <span [hidden]="emailControl.valid" class="text-danger">Vous devez entrer un mail valide !</span>
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Téléphone</label>
            <input id="PhoneNumber"
                   name="PhoneNumber"
                   type="tel"
                   class="form-control"
                   [(ngModel)]="user.PhoneNumber"
                   #phoneNumberControl="ngModel">
            <span [hidden]="phoneNumberControl.valid" class="text-danger">Vous devez entrer un numéro de téléphone valide</span>
        </div>
        <button type="submit" class="btn btn-default">Enregistrer</button>
    </form>

</section>